<section id="qa" class="section-std">

    <!-- Intro -->
    <div class="default-title">
        <h2>Q&A</h2>
        <ul class="list">
            <li>A che ora è la cerimonia? <br/> Ti aspettiamo a Villa Pellegrini dalle 17:00 per un welcome drink.
            La cerimonia inizierà intorno alle 17:30 (e sì, la sposa sarà in leggero ritardo: solo per creare suspense, as usual). Il resto… lo scoprirai in loco. </li>
            <li>Ho allergie o esigenze alimentari: come faccio? Scrivi tutto nell’RSVP e lo comunicheremo al catering. </li>

            <li>Dress code? Assolutamente no. Sentiti libero/a di tirare fuori tutto il tuo garden chic mood: le testimoni hanno insistito affinché trovassimo uno stile!  Consiglio: evita i tacchi a spillo, prato e ghiaino non perdonano. </li>
            <li>Come arrivo alla villa? Villa Pellegrini si trova a Romagnano di Valpantena, a circa 20 minuti da Verona.
                Puoi arrivare tranquillamente in auto! </li>
            <li>C’è anche un altro modo per raggiungere la villa? Si! Ti fidi di noi? Stiamo organizzando delle navette dal centro di Verona a Villa Pellegrini.
        Così potrai bere senza troppi sensi di colpa! </li>
            <li>E se arrivo - o sarò già - a Verona il venerdì sera? Nessun problema: non ti lasceremo a vagare da solo/a come un bambino sperduto.
                Qualcosa succederà: informale, giusto per “caricarci” per il grande giorno! Non abbiamo ancora deciso dove né come, ma appena lo “scopriremo” lo saprai anche tu. </li>
            <li>I bambini sono benvenuti? Per quanto amiamo i vostri pargoli, crediamo di rendere felici molti genitori dicendo che, per una serata, potranno scatenarsi: l’evento sarà Kids Free!</li>
            <li>E per i regali? Il regalo più grande è averti lì con noi 🍯Se però vuoi contribuire ai nostri futuri viaggi/progetti, presto aggiungeremo qualche dettaglio qui.</li>
            <li></li>C’è altro che dovrei sapere? Probabilmente sì. Ma per ora questo è tutto quello che ci viene in mente.</li>
        </ul>

    </div>

    <div class="default-text"
        <p>
           <ul class="list">
            <li>
                Kids? No
            </li>
           </ul>
        </p>
    </div>
</section>

