<section id="qa" class="section-std">

    <!-- Intro -->
    <div class="default-title">
        <h2>Q&A</h2>
        <ul class="list">
            <li><b>A che ora è la cerimonia?</b><br>
            Ti aspettiamo a Villa Pellegrini dalle 17:00 per un welcome drink.
            La cerimonia inizierà intorno alle 17:30. (e sì, la sposa sarà in leggero ritardo: solo per creare suspense, as usual). Il resto… lo scoprirai in loco.</li>

            <li><b>Ho allergie o esigenze alimentari: come faccio?</b><br>
            Indicalo nell’RSVP e lo comunicheremo al catering.</li>

            <li><b>Dress code?</b><br>
            No way! Sentiti libero/a di interpretare il tuo garden chic mood.
            Consiglio: evita i tacchi a spillo! Prato e ghiaino non perdonano.</li>

            <li><b>Come arrivo alla villa?</b><br>
            Villa Pellegrini si trova a Romagnano di Valpantena, a circa 20 minuti da Verona.
            Puoi arrivare tranquillamente in auto, taxi o NCC.</li>

            <li><b>C’è anche un altro modo per raggiungere la villa?</b><br>
            Stiamo organizzando una navetta dal centro di Verona (Ponte Pietra) a Villa Pellegrini,
            Così potrai bere senza troppi sensi di colpa!</li>

            <li><b>E se arrivo — o sarò già — a Verona il venerdì sera (19 giugno)?</b><br>
            Qualcosa succederà: informale, tranquillo, un riscaldamento prima del grande giorno! Non abbiamo ancora deciso dove né come, ma appena lo “scopriremo” lo saprai anche tu.</li>

            <li><b>I bambini sono benvenuti?</b><br>
            Per quanto li amiamo, abbiamo deciso che l’evento sarà kids free.e speriamo di regalare a tutti i genitori una serata di festa e relax.</li>

            <li><b>E per i regali?</b><br>
            Il regalo più grande è avervi con noi.
            Se vorrete contribuire ai nostri futuri viaggi o progetti, aggiungeremo presto qualche indicazione sempre sul sito!</li>

            <li><b>C’è altro che dovrei sapere?</b><br>
            Probabilmente sì.
            Ma per ora questo è tutto quello che ci viene in mente.</li>
            
        </ul>

    </div>

    <div class="default-text"
        <p>
           <ul class="list">
            <li>
                Kids? No
            </li>
           </ul>
        </p>
    </div>
</section>

