<section id="qa" class="section-std">

    <div class="default-title">
        <h2>{{ t.sections.qa }}</h2>
    </div>

    <!-- Intro -->
    <div class="default-text">
        <ul class="list">
            <li><b>A che ora è la cerimonia?</b><br>
            Ti aspettiamo a Villa Pellegrini dalle 17:00 per un welcome drink.
            La cerimonia inizierà intorno alle 17:30 <i>(e sì, la sposa sarà in leggero ritardo: solo per creare suspense, as usual)</i>. Il resto...lo scoprirai in loco.</li>

            <li><b>Ho allergie o esigenze alimentari: come faccio?</b><br>
            Indicalo nell’RSVP e lo comunicheremo al catering.</li>

            <li><b>Dress code?</b><br>
            No way! Sentiti libero/a di interpretare il tuo stile <i>garden chic</i>.<br>
            Consiglio: evita i tacchi a spillo! Prato e ghiaino non perdonano.</li>

            <li><b>Come arrivo alla villa?</b><br>
            Villa Pellegrini si trova a Romagnano di Valpantena, a circa 20 minuti da Verona.
            Puoi arrivare in auto, taxi o NCC.</li>

            <li><b>C’è anche un altro modo per raggiungere la villa?</b><br>
            Stiamo organizzando una navetta dal centro di Verona alla Villa, così potrai festeggiare senza troppi sensi di colpa!</li>

            <li><b>E se arrivo — o sarò già — a Verona il venerdì sera (19 giugno)?</b><br>
            Qualcosa succederà: informale, tranquillo, un riscaldamento prima del grande giorno! Non abbiamo ancora deciso dove né come, ma appena lo “scopriremo” lo saprai anche tu.</li>

            <li><b>I bambini sono benvenuti?</b><br>
            Per quest'occasione, anche se li amiamo, l’evento sarà kids free...sperando di regalare a tutti i genitori una serata di festa!</li>

            <li><b>E la lista nozze?</b><br>
            Il regalo più grande è avervi con noi.
            Se vorrete contribuire ai nostri futuri viaggi, aggiungeremo presto qualche indicazione qui sul sito!</li>

            <li><b>C’è altro che dovrei sapere?</b><br>
            Probabilmente sì.
            Ma per ora questo è tutto quello che ci viene in mente.</li>

        </ul>

    </div>
</section>

