<section id="registry" class="section-std">

    <div class="default-title">
        <h2>Lista Nozze</h2>
    </div>

    <!-- Placeholder Text -->
    <div class="default-text">
        <p class="default-text">
            Nella nostra storia ci sono stati molti viaggi: alcuni improvvisati, altri pianificati, tutti necessari.
            Se volete contribuire al prossimo abbiamo già qualche idea e un'agenzia che ci ha preso sul serio.
        </p>
        <p class="default-text">
            <em>L'Enciclopedia del Viaggio</em>, l'agenzia che abbiamo scelto, ha creato per noi <a href="https://www.enciclopediadelviaggio.it/nozze/fabio-e-carlotta" target="_blank">questa pagina</a> dove potete scegliere le nostre prossime destinazioni.
        </p>

    </div>
</section>
