<section id="where-and-when" class="section-std">

    <div class="default-title">
        <h2>{{ t.sections.where_when }}</h2>
    </div>

    <div class="default-text">
        <p>
            Come dicevamo, tutto si svolgerà nella cornice dell’incantevole
            <a href="https://www.google.com/maps/search/?api=1&query=Villa+Pellegrini+Romagnano+di+Valpantena" target="_blank" rel="noopener" class="map-link">
                Villa Pellegrini</a>,
            a Romagnano di Valpantena.
        </p>
        <ul class="list">
        <li>17:00 - Welcome drink</li>
        <li>17:30 - Cerimonia</li>
        <li>18.30 - Aperitivo in giardino</li>
        <li>20:30 - Cena e taglio torta</li>
        <li>A seguire party fino alle 2:00.</li>
        </ul>
        La villa è raggiungibile in auto, taxi e NCC.
    </div>
</section>