<section id="rsvp" class="section-std">

    <div class="default-title">
        <h2>Where & When</h2>
    </div>

    <div class="default-text">
    <p>
        Tutto si svolgerà nella cornice dell’incantevole Villa Pellegrini, a Romagnano di Valpantena.
    </p>
        <ul class="list">
        <li>17:30 - Cerimonia</li>
        <li>18.30 - Aperitivo in giardino</li>
        <li>20:30 - Cena e taglio torta</li>
        <li>23:00 - Party fino alle 2:00</li>
        </ul>
        Per raggiungere La villa suggeriamo l'auto. Sarà disponibile anche una navetta da Ponte Pietra (Verona).
    </div>
</section>