<section id="rsvp" class="section-std">

    <div class="default-title">
        <h2>Where & When</h2>
    </div>

    <div class="default-text">
    <p>
        Tutto si svolgerà nella cornice dell’incantevole <b>Villa Pellegrini</b>, a Romagnano di Valpantena.
    </p>
        <ul class="list">
        <li>17:00 - Welcome drink</li>
        <li>17:30 - Cerimonia</li>
        <li>18.30 - Aperitivo in giardino</li>
        <li>20:30 - Cena e taglio torta</li>
        </ul>
        A seguire pary fino alle 2:00. </br>
        La villa è raggiungibile in auto, taxi e NCC.
    </div>
</section>