<section id="registry" class="section-std">

    <div class="default-title">
        <h2>Registry</h2>
    </div>

    <div class="default-text">
        <p class="default-text">
        In our story, there have been many trips: some spontaneous, others planned, all necessary.
        If you’d like to contribute to the next one, we already have a few ideas and an agency that has taken us seriously.
        </p>
        <p class="default-text">
            <em>L'Enciclopedia del Viaggio</em>, the agency we chose, has created <a href="https://www.enciclopediadelviaggio.it/weddings/login/29" target="_blank">this page</a> for us where you can choose our next destinations: the password is <em>GIUGNO2026</em>.
        </p>
    </div>


</section>
