<section id="where-and-when" class="section-std">

    <div class="default-title">
        <h2>Where &amp; When</h2>
    </div>

    <div class="default-text">
        <p>As mentioned, the entire celebration will take place in the beautiful setting of <b>Villa Pellegrini</b>, in Romagnano di Valpantena.</p>
        <ul class="list">
            <li>5:00 PM – Welcome drink</li>
            <li>5:30 PM – Ceremony</li>
            <li>6:30 PM – Garden aperitif</li>
            <li>8:30 PM – Dinner and cake cutting</li>
        </ul>
        <p>
            The celebration will continue with a party until 2:00 AM.<br>
            The villa can be reached by car, taxi, or private transfer.
        </p>
    </div>

</section>
