<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Font Alice -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <script src="{{ '/assets/js/navbar.js' | relative_url }}"></script>
  </head>
  <body>
  <div class="language-switcher">
      {% for lang in site.languages %}
      {% if lang == page.lang %}
      <span class="current">{{ lang | upcase }}</span>
      {% else %}
      <a href="/{{ lang }}{{ page.url_no_lang }}">{{ lang | upcase }}</a>
      {% endif %}
      {% endfor %}
  </div>

  {% include header.html %}

    <main>
      {{ content }}
        {% include story.{{ page.lang }}.html %}
        {% include whwh.{{ page.lang }}.html %}
        {% include rsvp.{{ page.lang }}.html %}
        {% include where.{{ page.lang }}.html %}
        {% include qa.{{ page.lang }}.html %}


    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
